@model IEnumerable<Customer>

<div class="container my-5">
    <h1>Customers</h1>
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Customer
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        <a asp-action="AddOrEditCustomer" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i> Add
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                
                    <tr>

                        <td>
                            <a asp-action="Customer" asp-route-id="@item.CustomerId">
                                @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.CustomerId">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="AddOrEditCustomer" asp-route-id="@item.CustomerId" class="btn btn-warning">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure to delete this Customer?')">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>

                                </div>
                            </form>
                        </td>
                    </tr>
                

                }

            </tbody>
                </table>
            </div>
            </div>


